/* body */
body {
    margin: 0;
    padding: 0;
    display: block;
    background-image:linear-gradient(to bottom, rgb(13, 64, 81), white);

}

/* This is for nav bar */
nav {
    background-color: white;
    display: flex;
    height: 2.5rem;
    padding: 1em;
    justify-content: space-between;
    margin-top: 1.5em;
    padding: 1em;
    align-items: center;
    
}

/* This is for nav-bar buttons only */
.nav-btn {
    text-decoration: none;
    color: black;
    padding: 0.5em;
    margin:1em;
    color: rgb(72, 104, 104);
    
}

/* This is for left side buttons */
.left {
    margin-left: 7rem;
}
.left a {
    font-weight: bold;
}
.left a:hover{
    border: 1px solid black;
    border-radius: 1em;
    background-color: rgb(13, 64, 81);
    color: rgb(161, 233, 242);
}

/* This is for right side buttons */
.right {
    margin-left: 40em;
    margin-right: 7rem;
}
.right a {
    border: 1px solid black;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    background-color: rgb(13, 64, 81);
    color: white;
}
.right a:hover{
    background-color: rgb(161, 233, 242);
    color: rgb(72, 104, 104);
    font-weight: bold;
}

/* body section */

.calendar-embed {
    text-align: center;                                       /* embed calendar */
    cursor: pointer;
}
#calendar {
    text-align: center;
}


/* main heading  */

.heading {
    text-align: center;
    text-shadow: 10px 10px 4px rgb(10, 41, 45);
    color:rgb(161, 233, 242);
    font-size: 4em;
}
.heading:hover{
    text-shadow: 16px 16px 9px rgb(10, 41, 45);
    color:rgb(161, 233, 242);
    font-size: 4.05em;
}


/* for upcoming and past events */


#events,#calendar,#events_past {
    margin-bottom: 30px;
    padding: 20px;
    cursor: pointer;
}

.event-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    gap: 20px;
}

.event {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.event h3 {
    color: rgb(54, 187, 240) ;
}

.event p {
    line-height: 1.6;
}

h1 {
    color:rgb(161, 233, 242);
}
#events_past h1 {
    color: rgb(13, 64, 81);
}







/* Footer */

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

/* This is for links */

.astyle{
    color: aliceblue;
    text-decoration: none;
    padding-top: 1.15em;
}

/* This is for icons */

.fa-solid{
    color: aliceblue;
    padding-top: 1.15em;
    padding-right: 0.5em
}

.fa-brands{
    color: aliceblue;
    padding-top: 1.15em;
    padding-right: 0.5em;
}