/* This is for nav bar */
nav {
    background-color: bisque;
    display: flex;
    height: 1.5rem;
    padding: 1em;
    justify-content: space-between;
    width: 100%;
 }
 
 
 /* This is for nav-bar buttons only */
 .nav-btn {
    text-decoration: none;
    color: black;
 }
 
 
 /* This is for button order */
 .left {
    margin-left: 8rem;
 }
 
 
 .right {
    margin-left: 45em;
    margin-right: 10rem;
 }

 /* nav ends here */


 /* main section */

 #outer{
    margin: 5em;
    height: auto;
    width: auto;
    border-radius: 1em;
    background-color: aliceblue;
    padding: 2em;
}

.faq{
    padding: 2em;
    margin: 1em;
    border-radius: 1em;
    height: auto;
    width: auto;
    background-color: rgb(209, 219, 227);
}