/* body */
body {
    margin: 0;
    padding: 0;
    display: block;
    background-image:linear-gradient(to bottom, rgb(13, 64, 81), white);

}

/* This is for nav bar */
nav {
  background-color: white;
  display: flex;
  height: 2.5rem;
  padding: 1em;
  justify-content: space-between;
  margin-top: 1.5em;
  padding: 1em;
  align-items: center;
  
}

/* This is for nav-bar buttons only */
.nav-btn {
  text-decoration: none;
  color: black;
  padding: 0.5em;
  margin:0.5em;
  color: rgb(72, 104, 104);
  
}


/* Navbar Logo */

#vip {
  width: 3em;
  height: 3em;
  margin-left: 3.5em;
}


/* This is for left side buttons */

.left {
  margin-left: -10em;

}
.left a {
  font-weight: bold;
  padding-right:1.3em ;
  padding-left: 1.3em;
}
.left a:hover{
  border: 1px solid black;
  border-radius: 1em;
  background-color: rgb(13, 64, 81);
  color: rgb(161, 233, 242);
}

/* This is for right side buttons */
.right {
  margin-left: 40em;
  margin-right: 7rem;
}
.right a {
  border: 1px solid black;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  background-color: rgb(13, 64, 81);
  color: white;
}
.right a:hover{
  background-color: rgb(161, 233, 242);
  color: rgb(72, 104, 104);
  font-weight: bold;
}


/* heading style */

.heading {
  text-align: center;
  color: rgb(161, 233, 242);
}
.upper {
  font-size: 4em;
  text-shadow:15px 15px 2px rgb(0, 43, 58);
}
.lower {
  font-size: 2.5em;
  text-shadow: 11px 11px 2px  rgb(5, 53, 69);
}
.upper:hover {
  font-size: 4.05em;
  text-shadow: 35px 25px 3px rgb(0, 43, 58);
}
.lower:hover {
  font-size: 2.55em;
  text-shadow: 21px 21px 3px rgb(0, 42, 56);
}





/* images properties  */


.img {
    width: 30em;
    height: 30em;
   display:inline-block;
    padding: 2em;
    margin:1.5em;
    cursor: pointer;
    border-radius: 10em;

}
.img1 {
    width: 30em;
    height: 30em;
    display: inline-block;
    padding: 2em;
    margin:1.5em;
    cursor: pointer;
    border-top-left-radius: 10em;
    border-bottom-right-radius: 10em;

}

/* for hovering effects */


.container {
    position: relative;
    width: 10%;
  }
  

  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 26.5em;
    width: 26.5em;
    opacity: 0;
    transition: 0.3s ease;
    background-color: white;
    display: inline-block;
    padding: 2em;
    margin-top:3.2em;
    margin-left: 3.2em;
    cursor:all-scroll;
    border-top-left-radius: 9em;
    border-bottom-right-radius: 8.5em;
  }
  
  .overlay1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 27em;
    width: 27em;
    opacity: 0;
    transition: 0.3s ease;
    background-color: white;
    display: inline-block;
    padding: 2em;
    margin-top:3em;
    margin-left: 3em;
    cursor:all-scroll;
    border-radius: 9.7em;
   
  }

  .container:hover .overlay {
    opacity: 0.7;
  }
  
  .container:hover .overlay1 {
    opacity: 0.7;
  }


  /* text properties */


  .text {
    color: black;
    font-size: 2.2em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
  }

  /* div properties */


  .main1 {
    display: inline-block;
  
  }
  .main2 {
    display: inline-block;
    
  }
  .main3 {
    display: inline-block;

  }
  .main4 {
    display: inline-block;

  }
  .main5 {
    display: inline-block;

  }
  .main6 {
    display: inline-block;

  }
  
  
  .main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }




  /* footer section */


 footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

/* Logo footer */
.logo-nav{
  display: flex;
  height: 20em;
  width: 20em;
}

.fot-sec{
  margin-top: 5em;
}

h2{
  margin-top: 4em;
  margin-left: -2em;
}

/* This is for links */

.astyle{
  color: aliceblue;
  text-decoration: none;
  padding-top: 1.15em;
}

/* This is for icons */

.fa-solid{
  color: aliceblue;
  padding-top: 1.15em;
  padding-right: 0.5em
}

.fa-brands{
  color: aliceblue;
  padding-top: 1.15em;
  padding-right: 0.5em;
}

.fot-btn {
  text-decoration: none;
  color: black;
  padding: 0.5em;
  margin:1em;
  color: aliceblue;
}

.column1{
  margin-top: 2em;
}
.fot-btn:hover{
  text-decoration: underline;
  color: lightblue;
}