/* body */
body {
   margin: 0;
   padding: 0;
   display: block;
   background-image:linear-gradient(to bottom, rgb(13, 64, 81), white);

}

/* This is for nav bar */
nav {
   background-color: white;
   display: flex;
   height: 2.5rem;
   padding: 1em;
   justify-content: space-between;
   margin-top: 1.5em;
   padding: 1em;
   align-items: center;
   
}
 
/* This is for nav-bar buttons only */
.nav-btn {
   text-decoration: none;
   color: black;
   padding: 0.5em;
   margin:1em;
   color: rgb(72, 104, 104);
   
}

/* This is for left side buttons */
.left {
   margin-left: 7rem;
}
.left a {
   font-weight: bold;
}
.left a:hover{
   border: 1px solid black;
   border-radius: 1em;
   background-color: rgb(13, 64, 81);
   color: rgb(161, 233, 242);
}

/* This is for right side buttons */
.right {
   margin-left: 40em;
   margin-right: 7rem;
}
.right a {
   border: 1px solid black;
   border-top-right-radius: 1em;
   border-bottom-left-radius: 1em;
   background-color: rgb(13, 64, 81);
   color: white;
}
.right a:hover{
   background-color: rgb(161, 233, 242);
   color: rgb(72, 104, 104);
   font-weight: bold;
}


/* video prop */

/* video prop */

#isec {
   position: relative;
   height: 90.8vh;
   width: 100%;
   overflow: hidden;
   z-index: -1;
   color: transparent;
   opacity: 0.4;
}

/* text over video */

.main {
   color: rgb(0, 0, 0);
}
.overlay h1{
   font-weight:bolder;
   font-size: 5em;
   text-align: center;
   left: 6em;
   mix-blend-mode: overlay;
   position:absolute;
   top: 1.5em;
   text-shadow: 4px 4px 4px black;
}

.overlay h2{
   font-weight: bold;
   font-size: 2.7em;
   mix-blend-mode: overlay;
   left: 13em;
   text-align: center;
   position:absolute;
   top: 6.5em;
}

.overlay p{
   font-weight: bold;
   font-size: 1.5em;
   mix-blend-mode: overlay;
   left: 6em;
   right: 6em;
   text-align: center;
   position:absolute;
   top: 16em;
}

.overlay h3{
   font-weight: bold;
   font-size: 2.7em;
   mix-blend-mode: overlay;
   left: 13em;
   text-align: center;
   position:absolute;
   top: 12em;
}

.overlay p1{
   font-weight: bold;
   font-size: 1.5em;
   mix-blend-mode: overlay;
   left: 6em;
   right: 6em;
   text-align: center;
   position:absolute;
   top: 28em;
}
.overlay h4{
   font-weight: bold;
   font-size: 2.7em;
   mix-blend-mode: overlay;
   left: 10em;
   text-align: center;
   position:absolute;
   top: 18em;
}
.overlay button{
   font-weight: bold;
   font-size: 1.7em;
   mix-blend-mode: overlay;
   left: 20em;
   text-align: center;
   position:absolute;
   top: 33em;
}

.overlay button:hover{
   color: white;
   background-color: rgb(13, 64, 81);

}


video{
   position: absolute;
   top: 0;
   left: 0;
   width: 100;
   height: 100;
   -o-object-fit: cover;
   object-fit: cover;
   -o-object-position: center;
   object-position: center;
}
 /* Image Prop */
 
 
 img{
    display: inline;
    width: 100%;
 }
 

   

.high {
   width: 34em;
   height: 47em;
   border-radius:4em;
   margin: 7em;
   
   
}
.parent {
   display: flex;
}
.bruh{
   padding-left: 5em;
   padding-right: 5em;
   font-size: 30px;
   font-family: "Gill Sans", sans-serif;
}
.top{
   font-size: 2.4em;
   font-style:oblique;
   margin-left: 3.4em;
   text-decoration:underline;
   color: rgb(10, 48, 66);
}
.head{
   font-weight:bold;
   font-size: 60px;
   margin-left: 2em;
   margin: 2em;
   
}
.as{
   width: 100%;
   height: 35em;
   background-color: rgb(13, 64, 81);
   display: flex;
   border-top: 4px dashed black;
   border-bottom: 4px dashed black;
}
.bruh1{
   padding-left: 5em;
   padding-right: 5em;
   font-size: 30px;
   font-family: "Gill Sans", sans-serif;
   color: rgb(159, 236, 236);

}
.head1{
   font-size: 4em;
   color: rgb(10, 179, 179);
   margin-left: 2.3em;

}
.high1 {
   width: 90em;
   height: 35em;
   margin-right: 8em;
   
   
}
button{
   margin-left: 8em;
   width: 9em;
   height: 3em;
   border-radius: 3em;
   font-size: 1.2em;
}


/* for our sponsors */

.sponsor {
   
   height: 27em;
}

.sponsor h1 {
   font-size: 3em;
   text-align: center;
   text-shadow: 4px 5px 4px grey;
   margin-bottom: 2.5em;
   
}


.marq-item img{
   display: block;
   width: 100%;
   height: auto;
   
}

.marq {
   display: flex;
   animation: scrolling 8s linear infinite;
   
   
}

.marq-item {
   flex: 0 0 16vw;
   margin: 0  4vw;
}
@keyframes scrolling {
   0% {transform:translateX(0);}
   100% {transform: translateX(-144vw);}
}


 /* Footer */

 footer {
   background-color: #333;
   color: #fff;
   padding: 20px;
   display: flex;
   justify-content: space-around;
}

/* This is for links */

.astyle{
   color: aliceblue;
   text-decoration: none;
   padding-top: 1.15em;
}

/* This is for icons */

.fa-solid{
   color: aliceblue;
   padding-top: 1.15em;
   padding-right: 0.5em
}

.fa-brands{
   color: aliceblue;
   padding-top: 1.15em;
   padding-right: 0.5em;
}


/* footer ends here */