/* body */
body {
    margin: 0;
    padding: 0;
    display: block;
    background-image:linear-gradient(to bottom, rgb(13, 64, 81), white);

}

/* This is for nav bar */
nav {
    background-color: white;
    display: flex;
    height: 2.5rem;
    padding: 1em;
    justify-content: space-between;
    margin-top: 1.5em;
    padding: 1em;
    align-items: center;
    
}

/* This is for nav-bar buttons only */
.nav-btn {
    text-decoration: none;
    color: black;
    padding: 0.5em;
    margin:0.5em;
    color: rgb(72, 104, 104);
    
}


/* Navbar Logo */

#vip {
    width: 3em;
    height: 3em;
    margin-left: 3.5em;
}


/* This is for left side buttons */

.left {
    margin-left: -10em;

}
.left a {
    font-weight: bold;
    padding-right:1.3em ;
    padding-left: 1.3em;
}
.left a:hover{
    border: 1px solid black;
    border-radius: 1em;
    background-color: rgb(13, 64, 81);
    color: rgb(161, 233, 242);
}

/* This is for right side buttons */
.right {
    margin-left: 40em;
    margin-right: 7rem;
}
.right a {
    border: 1px solid black;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    background-color: rgb(13, 64, 81);
    color: white;
}
.right a:hover{
    background-color: rgb(161, 233, 242);
    color: rgb(72, 104, 104);
    font-weight: bold;
}

/* main content */

.container {
    background-color: rgb(35, 137, 150);
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 5%;
    justify-content: center;
    border: 2px solid black;
    border-radius: 3em;
}
.container1 {
    background-color: rgb(35, 137, 150);
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 5%;
    justify-content: center;
    
}

.box {
    background-image: linear-gradient(to bottom, rgb(167, 201, 201), rgb(72, 104, 104));
    text-align: center;
    width: 30%;
    height: 40em;
    margin: 1.5%;
    border: 2px solid rgb(13, 64, 81);
    border-radius: 2em;

}
h1 {
    font-size: 4em;                       /* main heading */
    text-decoration:none;
    text-shadow: 5px 5px 2px rgb(110, 173, 195);
}
h1:hover {
    font-size: 4.05em;
    text-shadow: 10px 10px 2px rgb(110, 173, 195);
    text-decoration: none;
}
h2 {
    font-size: 2em;
    
}
li {
    font-size: 1.5em;
    font-family: "Gill Sans", sans-serif;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
}

/* Footer */

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-around;
  }
  
  /* Logo footer */
  .logo-nav{
    display: flex;
    height: 20em;
    width: 20em;
  }
  
  .fot-sec{
    margin-top: 5em;
  }
  
  .foot-h2{
    margin-top: 4em;
    margin-left: -2em;
  }
  
  /* This is for links */
  
  .astyle{
    color: aliceblue;
    text-decoration: none;
    padding-top: 1.15em;
  }
  
  /* This is for icons */
  
  .fa-solid{
    color: aliceblue;
    padding-top: 1.15em;
    padding-right: 0.5em
  }
  
  .fa-brands{
    color: aliceblue;
    padding-top: 1.15em;
    padding-right: 0.5em;
  }
  
  .fot-btn {
    text-decoration: none;
    color: black;
    padding: 0.5em;
    margin:1em;
    color: aliceblue;
  }
  
  .column1{
    margin-top: 2em;
  }
  .fot-btn:hover{
    text-decoration: underline;
    color: lightblue;
  }
 
 
 /* footer ends here */